* {
    font-family: sans-serif;
}
.desc {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color:rgb(41, 41, 41);
    background-color:rgb(25, 25, 25);
}
body {
    background-color:black;
    color: white;
}