.header {
    text-align:center;
    padding-top:40px;
    font-family:"Quicksand";
    font-weight:600;
}
.main {
    text-align:center;
    padding-top:20px;
    font-family:"Quicksand";
    font-weight:600;
    font-size:larger;
}
a {
    color:black;
    font-size:xx-large;
    transition-property: font-size, color; 
    transition-duration: 800ms; 
    transition-timing-function: ease; 
}
a:visited {
    color:black;
    font-size:xx-large;
}
a:hover {
    color:#111111;
    font-size:x-large;
}