body {background-color: rgb(18, 18, 18);}
h1   {color: white;}
h2   {color: white;}
h3   {color: white;}
p    {color: white;}
a:link    {color: rgb(14, 132, 229);
background-color: rgb(26, 26, 26);}
a:visited {color: rgb(14, 132, 229);
    background-color: rgb(26, 26, 26);}
a:hover {color: rgb(76, 155, 219);
    background-color: rgb(26, 26, 26);}
a:active {color: rgb(14, 132, 229);
    background-color: rgb(26, 26, 26);}
* {font-family:monospace;}