body {background-color: #282b34;}
h1   {color: white;}
h2   {color: white;}
h3   {color: white;}
p    {color: white;}
pre  {color: white;}
a    {color: rgb(56, 132, 253);}
a:visited {color: rgb(53, 137, 180);}
a:hover {color: rgb(145, 251, 255);}
a:active {color: rgb(54, 175, 215);}
* {font-family:monospace;}