background-color {
    color:white;
}
p,h1,h2,h3{
    color:black;
}
pre {
    font-size: 40;
}
* {
    font-family: monospace;
    white-space:pre-wrap;
}
hr.solid {
    border-top: 3 solid #fff;
}