.header {
    text-align:center;
    padding-top:40px;
    font-family:"Quicksand";
    font-weight:600;
}
.main {
    text-align:center;
    padding-top:20px;
    font-family:"Quicksand";
    font-weight:600;
    font-size:larger;
}
.gh-icon {
    background-color: #00000000;
    box-shadow: 5px 5px 35px -22px #7B7F7C;
}
.ds-icon {
    background-color: #00000000;
}
a {
    color:black;
    font-size:60px;
    transition-property: font-size, color; 
    transition-duration: 250ms; 
    transition-timing-function: ease; 
}
a:visited {
    color:black;
    font-size:60px;
}
a:hover {
    color:#000000c0;
    font-size:55px;
}
hr {
    padding-top:7px;
    width:17%;
    margin:0 auto;
    border-top:2px solid rgba(0,0,0,.2);
    border-width:2px 0 0 0;
}
